/* HomePage.css */

:root {
  --text_color_btn_home: #ffffff;
  --bg_color_btn_home: rgb(209, 77, 0);
  /* --color_one: #35005F; */
  --color_one: #161616;
  --color_two: #000000;
  --color_three: #0C0C0C;

  --color_bg_modals: #161616;
  --color_border_modals: rgb(209, 77, 0);
  /* --bg_color_btn_home: #d1892b; */
}

@font-face {
  font-family: 'Libel Suit';
  src: url('../assets/fonts/libel-suit-rg.woff2') format('woff2'),
       url('../assets/fonts/libel-suit-rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Libel Suit', sans-serif;
}

.index-container {
  background: radial-gradient(circle, var(--color_one), var(--color_two));
  /* Gradient radiale */
  color: #ffffff;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.row.bg-dark {
  background-color: rgba(0, 0, 0, 0.8);
}

.gym-color {
  background: var(--bg_color_btn_home) !important;
}


.btn-gym-color {
  color: var(--text_color_btn_home);
  background: var(--bg_color_btn_home);
}


.btn-link {
  color: var(--text_color_btn_home);
  border-radius: 0.5rem;
  background: var(--bg_color_btn_home);
  text-decoration: none;
}

.btn-link:hover {
  transition: all 200ms;
  color: var(--text_color_btn_home);
  transform: scale(1.04);
  box-shadow: 0 0 1.1rem rgba(0, 0, 0, 0.08);
  background: var(--bg_color_btn_home);
}

.form-control {
  background-color: #ffffff;
  color: var(--text_color_btn_home);
  background: var(--bg_color_btn_home);
  height: 75%;
  appearance: auto;
  width: auto;
  border-radius: 0.5rem;
  border: 0;
}

.form-control:focus {
  color: var(--text_color_btn_home);
  background-color: var(--bg_color_btn_home);

}

.logo-container {
  background: url('../images/logo192.png') no-repeat center center;
  background-size: contain;
  /* o 'cover' a seconda delle tue preferenze */
  height: 50px;
  width: 50px;
  /* Altezza massima desiderata */
  /* box-shadow: 0 0 5px 0px var(--bg_color_btn_home);
  background-color: transparent; */
}

.exe-container {
  background: url('../images/logo512.png') no-repeat center center;
  background-size: cover;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  /* Rende il contenitore tondo */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  /* Ombra attorno al contenitore */
}

/* Media Query per schermi più piccoli */
@media (max-width: 768px) {
  .exe-container {
    width: 11rem;
    /* Larghezza basata sulla dimensione del font radice */
    height: 9rem;
    /* Altezza basata sulla dimensione del font radice */
  }
}












/* LoginPage */

.login_form{
  width: '90%';
  background-color: var(--color_three);
}

.text-grey{
  color: gray;
}

.bg_form_login{
  background-color: gray;
}

/* Aggiungi questo CSS per centrare gli input all'interno della card */
.center_form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra gli elementi */
}


.form-control_login:hover {
  background: white;
  color: #000000;
}










/* AppPage css */

.inp-hover:hover {
  color: aquamarine;
  background-color: var(--bg_color_btn_home);
}

.dragging {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px dashed #ccc;
  color: #fff;
  outline: none;
}

.div-drop {
  min-width: 90dvw;
  min-height: 90dvh;
}



.file-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-input-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 2px dashed #ccc;
  cursor: pointer;
  transition: background 0.3s ease;
}

.file-input-label.dragging {
  background: #f0f0f0;
}

.file-input-icon {
  font-size: 24px;
  margin-bottom: 8px;
}

.file-input {
  display: none;
  /* Nascondi l'input effettivo */
}

.selected-files {
  margin-top: 10px;
}

.selected-files p {
  margin: 5px 0;
}






.modal-filters-header {
  background-color: var(--color_bg_modals);
  border-top: 3px solid var(--color_border_modals);
  border-left: 3px solid var(--color_border_modals);
  border-right: 3px solid var(--color_border_modals);
  border-bottom: 0px solid var(--color_border_modals);
}

.modal-filters-body {
  background-color: var(--color_bg_modals);
  border-top: 0px solid var(--color_border_modals);
  border-left: 3px solid var(--color_border_modals);
  border-right: 3px solid var(--color_border_modals);
  border-bottom: 0px solid var(--color_border_modals);
}

.modal-filters-footer {
  background-color: var(--color_bg_modals);
  border-top: 0px solid var(--color_border_modals);
  border-left: 3px solid var(--color_border_modals);
  border-right: 3px solid var(--color_border_modals);
  border-bottom: 3px solid var(--color_border_modals);
}







.text-filter {
  cursor: pointer;
}

/* Stile di base per il contenitore dell'intero filtro (checkbox e testo) */
.filter-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
}

.filter-label {
  cursor: pointer;
  font-weight: normal;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
}

/* .filter-checkbox {
  display: none;
} */



/* Aggiungi uno sfondo chiaro e colore più scuro al filtro quando selezionato */
.filter-checkbox:checked + .filter-label {
  color: green;
  font-weight: bold;
  background-color: #e0f7fa;  /* Sfondo chiaro quando selezionato */
}

/* Sfondo e stile quando il checkbox è selezionato */
.filter-checkbox:checked + .filter-item {
  background-color: #e0f7fa;
}











/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



.list-filters {
  list-style-type: none;
}












/* css OldFiles comp */

/* Stili per schermi di smartphone con larghezza massima di 768px */
@media only screen and (min-width: 768px) {
  /* CSS NON per gli smartphone */

  .tbl-m {
    max-width: 50%;
  }

}









/* css AdminPage comp */



.square {
  width: 150px;
  height: 150px;
  background-color: #ff0000;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.log-section {
  background-color: #000279;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.second-section {
  width: 100%;
  text-align: center;
}

.dashboard-square {
  background-color: #000279;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

